<aside>
    <ul class="nav nav-pills nav-stacked" data-ng-repeat="s in DonorCtrl.donor.specimen">
        <li data-ng-class="{active:s.id==DonorSpecimenCtrl.specimen.id}">
            <a href="" 
                data-ng-click="DonorSpecimenCtrl.tableFilter.specimenSamples=''; DonorSpecimenCtrl.currentSpecimenPage=1; DonorSpecimenCtrl.setActive(s.id);"
                data-ng-style="s.id===DonorSpecimenCtrl.specimen.id?{color:'#FFFFFF'}:{}" style="line-height:1.25rem">
                    {{ s.id }}<br>
                <small>{{ s.type }}</small>
            </a></li>
    </ul>
</aside>
<div class="specimen-wrap">
    <div class="clearfix">
        <h3>
            {{ DonorSpecimenCtrl.specimen.id }} 
            <pcawg-badge data-ng-if="DonorSpecimenCtrl.isPCAWG(DonorSpecimenCtrl.specimen)"></pcawg-badge>
        </h3>
    </div>
    <div class="clearfix">
        <h3 data-ng-if="DonorSpecimenCtrl.specimen.samples.length == 0"><translate>No Samples Found.</translate></h3>

        <div data-ng-if="DonorSpecimenCtrl.specimen.samples.length > 0">
            <span class="t_table_top">
                <data-table-row-counts
                    data-data="DonorSpecimenCtrl.uiSpecimenSamples"
                    data-filter="DonorSpecimenCtrl.tableFilter.specimenSamples"
                    data-label="{{'samples' | translate}}"
                    data-current-page="DonorSpecimenCtrl.currentSpecimenPage"
                    data-row-limit="DonorSpecimenCtrl.defaultSpecimenRowLimit">
                </data-table-row-counts>
                <span data-toolbar
                      data-entity="{{DonorCtrl.donor.id}}_specimen"
                      data-json="{{ DonorSpecimenCtrl.uiSpecimenSamples }}"></span>
                <table-filter data-filter-model="DonorSpecimenCtrl.tableFilter.specimenSamples"
                    data-current-page="DonorSpecimenCtrl.currentSpecimenPage"></table-filter>
            </span>
            <table class="table">
                <thead>
                <tr>
                    <th><translate>Sample ID</translate></th>
                    <th><translate>Submitted Sample ID</translate></th>
                    <th><translate>Study</translate></th>
                    <th><translate>Analysis</translate></th>
                    <th><translate>Sequence Repo</translate></th>
                    <th><translate>BAM File</translate></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="sample in (DonorSpecimenCtrl.uiSpecimenSamples | 
                    filter: DonorSpecimenCtrl.tableFilter.specimenSamples |
                     limitTo: DonorSpecimenCtrl.defaultSpecimenRowLimit : ((DonorSpecimenCtrl.currentSpecimenPage-1)*DonorSpecimenCtrl.defaultSpecimenRowLimit)) track by sample.uiId">
                    <td>
                        <span data-ng-bind-html="sample.uiId | highlight: DonorSpecimenCtrl.tableFilter.specimenSamples"></span>
                    </td>
                    <td>
                        <span data-ng-bind-html="sample.uiAnalyzedId | highlight: DonorSpecimenCtrl.tableFilter.specimenSamples"></span>
                    </td>
                    <td>
                        <a href="http://www.cpct.nl/">CPCT</a>
                    </td>
                    </td>
                    <td>
                        <ul>
                            <li data-ng-repeat="item in sample.uiUniqueRawSequenceData">
                            <abbr data-icgc-tooltip="{{ item.libraryStrategy | define }}">
                                    <span data-ng-bind-html="item.libraryStrategy | highlight: DonorSpecimenCtrl.tableFilter.specimenSamples"></span>
                                </abbr>
                            </li>
                        </ul>
                        <span data-ng-if="sample.uiAvailableRawSequenceData.length == 0">--</span>
                    </td>
                    <!--<td>-->
                        <!--<ul>-->
                            <!--<li data-ng-repeat="item in sample.uiUniqueRawSequenceData">-->
                                <!--<span data-ng-bind-html="item.repository | highlight: DonorSpecimenCtrl.tableFilter.specimenSamples"></span>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<span data-ng-if="sample.uiAvailableRawSequenceData.length == 0">--</span>-->
                    <!--</td>-->
                    <td>HMF</td>
                    <!--<td>-->
                        <!--<ul>-->
                            <!--<li data-ng-repeat="item in sample.uiUniqueRawSequenceData">-->
                            <!--<i data-ng-if="item.id" style="cursor: pointer" class="icon-file-alt"-->
                                   <!--data-tooltip-placement="left"-->
                                   <!--data-icgc-tooltip="{{ item.id }}"></i>-->
                                <!--<span data-ng-if="!item.id">&#45;&#45;</span>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<span data-ng-if="sample.uiAvailableRawSequenceData.length == 0">&#45;&#45;</span>-->
                    <!--</td>-->
                    <td class="text-center"><i class="icon-ok"></i></td>
                </tr>
                </tbody>
            </table>

            <pagination-client-side data-data="DonorSpecimenCtrl.uiSpecimenSamples"
                data-filter="DonorSpecimenCtrl.tableFilter.specimenSamples"
                data-row-limit="DonorSpecimenCtrl.defaultSpecimenRowLimit"
                data-row-sizes="DonorSpecimenCtrl.rowSizes"
                data-current-page="DonorSpecimenCtrl.currentSpecimenPage"></pagination-client-side>

            <table class="hidden" id="{{DonorCtrl.donor.id}}_specimen">
                <thead>
                <tr>
                    <th><translate>Sample ID</translate></th>
                    <th><translate>Submitted Sample ID</translate></th>
                    <th><translate>Study</translate></th>
                    <th><translate>Analysis</translate></th>
                    <th><translate>Sequence Repo</translate></th>
                    <th><translate>BAM File Access</translate></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="sample in DonorSpecimenCtrl.specimen.samples">
                    <td>{{sample.id}}</td>
                    <td>{{sample.analyzedId}}</td>
                    <td>CPCT</td>
                    <td>{{ (sample.availableRawSequenceData | unique | _:"map":'libraryStrategy').join(', ') }}</td>
                    <td>HMF</td>
                    <td>{{ (sample.availableRawSequenceData | unique | _:"map":'id').join(', ') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="circos">
        <h3 data-ng-if="DonorSpecimenCtrl.specimen.circos == null">No Circos Plot Found.</h3>

        <div data-ng-if="DonorSpecimenCtrl.specimen.circos != null">
            <h3>Circos Plot</h3>
            <div>
                <img style="max-width: 90%; margin: auto;" ng-src="/styles/images/circos/{{DonorCtrl.donor.id}}.circos.png">
            </div>
        </div>
    </div>
</div>
