<article class="full home-landing">
    <div class="clearfix">
        <form class="t_suggest">
            <input
                    class="t_suggest__input"
                    placeholder="{{'e.g. BRAF, KRAS G12D, DO35100, MU7870, FI998, apoptosis, Cancer Gene Census, imatinib, GO:0016049' | translate}}"
                    autofocus="true"
                    data-suggest
                    />
            <i class="t_suggest__embedded t_suggest__embedded__left t_suggest__embedded__search icon-search"></i>
            <i class="t_suggest__embedded t_suggest__embedded__right  icon-spin icon-spinner" data-ng-show='isBusy'></i>
            <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-cancel"
               data-ng-click="query='';quick()" data-ng-show='query && !isBusy'></i>
        </form>
    </div>
    <section>
        <h3><translate>About Us</translate></h3>

        <p>
          The <a target="_blank" href="https://www.hartwigmedicalfoundation.nl/en/">Hartwig Medical Foundation</a> is a not-for-profit organisation with a mission to support research to advance individualized cancer treatment.
        </p>
        <p>
          A full description of the cohort presented in this portal and underlying methods is available on <a target="_blank" href="https://www.biorxiv.org/content/early/2019/01/16/415133">BioRxiv</a>.
        </p>
        <p>
          For access to full datasets and controlled tier data, please read  <a target="_blank" href="https://www.hartwigmedicalfoundation.nl/en/appyling-for-data/">these instructions</a>.
        </p>
        <p>
          Please note that a <a target="_blank" href="https://www.hartwigmedicalfoundation.nl/en/data-policy/">data and publication policy</a> is applicable to the data obtained from this portal.
        </p>
        <p>
        For feedback or more information, please <a href="mailto:info@hartwigmedicalfoundation.nl">contact us</a>.
        </p>

        <div class="divider"></div>

        <p>
         <div class="text-center"><a target "_blank" href="https://www.cpct.nl" style="background:none"><img id="#pcawg-logo" src="/styles/images/cpct-final-small.png"></a></div>
         The patients represented in this portal were included in studies from the Netherlands <a target="_blank" href="https://www.cpct.nl">Center for Personalized Cancer Treatment (CPCT)</a>.
        </p>
    </section>
    <section class="text-center" data-ng-controller="ReleaseCtrl as ReleaseCtrl">
        <h3><translate>Data Release</translate> {{ ReleaseCtrl.release.releaseNumber }}</h3>
        <h3 class="subhead">{{ ReleaseCtrl.applicationReleaseDate }}</h3>
        <donut
            home=true
            items='ReleaseCtrl.donut'
            inner-label='Donors'
            outer-label='Donors'
            heading="{{'Donor Distribution by Primary Site' | translate}}"
            height="325"
            should-show-no-data-message="false"
            ng-mouseenter="delayedTrack('donut', { action: 'hover' }, 1000)"
            ng-mouseleave="clearDelayedTrack('donut', { action: 'hover' })"
            ng-click="track('donut', { action: 'click' })"
        ></donut>

        <div class="summary-table-container">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                <tr>
                    <td><translate>Cancer projects</translate></td>
                    <td class="text-right">
                        <a href="/projects">{{ReleaseCtrl.release.projectCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Cancer primary sites</translate></td>
                    <td class="text-right">{{ReleaseCtrl.release.primarySiteCount | number}}
                    </td>
                </tr>
                <tr>
                    <td><translate>Donors with molecular data</translate></td>
                    <td class="text-right">
                        <a href="{{ReleaseCtrl.routeToAdvancedSearchPageWithLiveDonorStateFilter()}}">{{ReleaseCtrl.release.liveDonorCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Total Donors</translate></td>
                    <td class="text-right">
                        <a href="/search">{{ReleaseCtrl.release.donorCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Simple somatic mutations</translate></td>
                    <td class="text-right">
                        <a href="/search/m">{{ReleaseCtrl.release.ssmCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Mutated Genes</translate></td>
                    <td class="text-right">
                        <a href='/search/g?filters={"donor":{"availableDataTypes":{"is":["ssm"]}}}'>
                        {{ReleaseCtrl.release.mutatedGeneCount | number}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="sidebar omega">
        <h3><translate>Tutorial</translate></h3>
        <h4><translate>Example Queries</translate></h4>
        <ol class="list">
            <li>
                <a
                    href='/search/m?filters={"gene":{"id":{"is":["ENSG00000157764"]}},"mutation":{"consequenceType":{"is":["missense_variant"]}},"donor":{"primarySite":{"is":["Colon Rectum"]}}}'
                    ng-click="track('tutorial', { action: 'click', label: 'BRAF missense mutations' })"
                >
                    <translate>BRAF missense mutations in colorectal cancer</translate>
                </a>
            </li>
            <li>
                <a
                    href='/search/g?filters={"mutation":{"functionalImpact":{"is":["High"]}}, "donor":{"primarySite":{"is":["Pancreas"]}}}'
                    ng-click="track('tutorial', { action: 'click', label: 'Most frequently mutated genes' })"
                >
                    Most frequently mutated genes by high impact mutations in pancreatic metastatic tumors
                </a>
            </li>
            <li>
                <a
                    href='/search?filters={"donor":{"primarySite":{"is":["CNS"]}}, "mutation":{"consequenceType":{"is":["frameshift_variant"]}}}'
                    ng-click="track('tutorial', { action: 'click', label: Brain cancer donors' })"
                >
                    <translate>Brain cancer donors with frameshift mutations</translate>
                </a>
            </li>
        </ol>
    </section>
    <section class="sidebar icgc-cloud-home">
        <div class="divider"></div>
        <div class="icgc-container">
            <center><a href="/icgc-in-the-cloud" title="Go to ICGC in the Cloud Home">
                <img alt="ICGC in the Cloud Logo" src="/styles/images/ICGC_cloud_logo.png" />
            </a></center>
            <p>
              This portal was developed by the <a target="_blank" href="https://icgc.org/">International Cancer Genome Consortium</a>
              (<a target="_blank" href="https://doi.org/10.1038/s41587-019-0055-9">Zhang et al., Nature Biotechnology 37, 367-369 (2019)</a>).
            </p>
            <center><a href="https://www.kwf.nl" title="Go to the KWF website">
                <img alt="KWF logo" src="/styles/images/kwf-final-small.png" />
            </a></center>
            <p>
              The implementation of this portal was made possible by the GENONCO project funded by the Netherlands Cancer Research Foundation Infrastructure scheme.
            </p>
        </div>
    </section>
    
</article>
